@import "tailwindcss";

body{
  margin:0;
  background:#0d1320;
  font-family:Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior:smooth;
}
@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 99%;
  }
}

.animate-loading {
  animation: loading 5s linear forwards;}